<div class="container mt-5">
    <div class="card" style="padding: 20px; border: 1px solid black;">
        <form>
            <input type="text" class="form-control mb-3" ngModel name="userId" id="userId"
            placeholder="Enter your userId">
            <input type="password" ngModel name="password" id="password"
            placeholder="Enter your password" class="form-control mb-3">
            <input type="text" ngModel name="userName" id="userName"
            placeholder="Enter your Name" class="form-control mb-3">
            <input type="email" name="emailId" id="emailId" 
            class="form-control mb-3" placeholder="Enter your emailId">
            <input type="button" value="Login" class="btn btn-outline-primary form-control rounded-0">
        </form>
    </div>
</div>


<!-- <div class="container mt-5">
    <div class="card mt-5" style="width:50%">
    <mat-form-field appearance="outline">
        <mat-label>User Id</mat-label>
        <input matInput placeholder="Enter userId">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
   
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Enter your name">
      </mat-form-field>

      <button mat-raised-button color="primary">Submit</button>
    </div>
</div> -->
